<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated famillemm -->
      <package
            uri="http://www.example.org/arbregen"
            class="fr.ensma.idm.projet.familydsl.model.arbregen.ArbregenPackage"
            genModel="model/famillemm.genmodel"/>
   </extension>

</plugin>
